@import "normalize";
@import "variables";

html, body {
  background-color: #000;
  }
  
body {  
  width:($screen-width)px;
  height:($screen-height)px;
  background-color: pink;
  }

.page {
  width:($screen-width)px;
	height:($page-height)px;
	
	
  h1 {
    top:100px;
    padding:50px;
  	-webkit-transform-origin:0 0;
  	-moz-transform-origin:0 0;
  	-ms-transform-origin:0 0;
  	-o-transform-origin:0 0;
  	transform-origin:0 0;
  	}
  	
  h2 {
    padding:50px;
  	-webkit-transform-origin:0 0;
  	-moz-transform-origin:0 0;
  	-ms-transform-origin:0 0;
  	-o-transform-origin:0 0;
  	transform-origin:0 0;
  	}	  	
	}
	
  
.button .closed {
  background-color: $button-color;
  width:33.333%;
  height:90px;
  left:33.333%;
  top:450px;
  }  

.svg-draw {
  fill:none;
  stroke-width:7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:6000;
  stroke-dashoffset:0;      
  }
  
.factoid {
  background-color: $factoid-color;
  padding:15px;  
  p {
    padding:0;
    margin:0;
    font-family: $sans-type;
    }  
  }
  
.hidden {
  p {display: none;}
  }
  
.revealed {
  p {display: block;}
  }
      
.cutout {
  position:relative;
  top:0px;  
  }

.back {z-index:1 !important;}
.middle {z-index:25 !important;}
.front {z-index:50 !important;}
