@import "normalize";
@import "variables";

html {
  background-color: #000;
  }
  
body {  
  width:$screen-width-px;
  height:$screen-height-px;
  background-color: pink;
  }
  
.page {
  width:$screen-width-px;
	height:$page-height-px;		
	background-color: $page-color-light;
	border-bottom: 10px solid $page-divider;	
  }

.hidden-white {
  display: none;
  }
  
.tap-image {
  position:absolute;
  width: $screen-width-px
  }
	
/* .page:nth-child(odd) {border-bottom: 10px solid $page-color-dark;} */
	
.jumpto {
  bottom:25px;
  right:25px;
  position: absolute;
  border: 25px;
  right: 25px;
  
  a {
    padding: 10px;
    line-height: 15px;
    color: $button-text-color;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    }
  
  }
  
/*
.button .closed {
  background-color: $button-color;
  width:33.333%;
  height:90px;
  left:33.333%;
  top:450px;
  }
*/  

/*
.svg-draw {
  fill:none;
  stroke-width:7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:6000;
  stroke-dashoffset:0;      
  }
*/
  
  .factoid {
    background-color: $factoid-color;
    padding:15px;  
    p {
      padding:0;
      margin:0;
      font-family: $sans-type;
      }  
    }
    
  .hidden {
    p {display: none;}
    }
    
  .revealed {
    p {display: block;}
    }
      
.cutout {
  top:0px;    
  img {width: 100%;}  
  }

.back {z-index:1 !important;}
.middle {z-index:25 !important;}
.front {z-index:50 !important;}
