#progress {
  /*width: 6px;
	height:$page-height;
  right:0;*/
  width:$screen-width;
  height:6px;
  top:0;
	background:aqua;
	z-index:200;
  }

	
#cover {
  background-color: $page-color-dark;  
  }

#story {
  width:334px;
  margin:50px;
  position: relative;
  top:2000px;
  z-index: 1000;
  
  p {color:$story-color;}
  
  }  

#howto {
	top:500px;
  background-color: $page-color-light;
  
  .factoid {
    width: 300px;
    position: absolute;
    top:400px;
    right:0;  
    }
      
  }
  
#empty {;
  top:1000px;
  background-color: $page-color-dark;    
  }


#pageEnd {
	height:$screen-height;
	top:$screen-height;
  background-color: $page-color-dark;  
  }