@import "elements";
@import "type";

#progress {
  width:$screen-width-px;
  height:6px;
  bottom:0;
	background:#ffc400;
	z-index:200;
  }

	
#cover {
  h1 {
    margin-top:0px;
    margin-left:-55px;
    }
  background-color: $page-color-dark;
  border: 0;
  } 

#howto {
	margin-top:-5000px;  
  }
  
#img-button-hand {  
  top: 600px; 
  left: 45px; 
  }

  
#empty {
  margin-top:-5000px;  
  }

#img-button-eyes {  
  top: 999px; 
  left: inherit;
  }     
  
#mother {
  margin-top:-5000px;
  }
  
#queen {
  margin-top:-5000px;
  }
  
#img-button-crown {  
  top: 999px; 
  left: inherit;
  }  
  
#hunstman {
  margin-top:-5000px;
  } 
  
#img-button-knife {  
  top: 999px; 
  left: inherit;
  }
    
#dwarves {
  margin-top:-5000px;
  } 
  
#img-button-crowd {  
  top: 999px; 
  left: inherit; 
  }
  
#king {
  margin-top:-5000px;
  } 
  
#sin {  
  margin-top:-5000px;
  } 
  
#prince {
  margin-top:-5000px; 
  }
  
#img-button-death {  
  top: inherit; 
  left: inherit;
  }
  
#love { 
  margin-top:-5000px;
  }  

#end {  
  margin-top:-5000px;
  background-color: $page-color-dark;
  border: 0;
  }