@import "elements";


#progress {
  width:$screen-width-px;
  height:6px;
  bottom:0;
	background:#ffc400;
	z-index:200;
  }

	
#cover {
  margin-top:0px;
  background-color: $page-color-light;  
  background-color: aqua; 
  } 

#howto {
	top:$screen-height-px;
  background-color: $page-color-dark;
  background-color: red; 
  
  .factoid {
    width: 300px;
    position: absolute;
    top:400px;
    right:0;  
    }
      
  }
  

#story {
  width:334px;
  margin:50px;
  position: relative;
  margin-top:$screen-height-px;
  z-index: 1000;
  
  p {color:$story-color;}

  background-color: blue;   
  
  } 
  
#empty {;
  margin-top:$screen-height-px;
  background-color: $page-color-light;    
  background-color: lime; 
  }


#pageEnd {
	margin-top:$screen-height-px;
  background-color: $page-color-dark; 
  background-color: violet;  
  }