@import "elements";
@import "type";

#progress {
  width:$screen-width-px;
  height:6px;
  bottom:0;
	background:#ffc400;
	z-index:200;
  }

	
#cover {
  h1 {margin-top:100px}
  } 

#howto {
	margin-top:$screen-height-px;
	  
  .factoid {
    width: 300px;
    position: absolute;
    top:400px;
    right:0;  
    }
  }
  

#story {
  width:334px;
  margin:50px;
  position: relative;
  margin-top:$screen-height-px;
  z-index: 1000;  
  p {color:$story-color;}    
  } 
  
#empty {
  margin-top:$screen-height-px;  
  }

  
#mother {
  margin-top:$screen-height-px;
  }
  
#queen {
  margin-top:$screen-height-px;
  } 
  
#hunstman {
  margin-top:$screen-height-px;
  } 
  
#dwarves {
  margin-top:$screen-height-px;
  } 
  
#king {
  margin-top:$screen-height-px;
  } 
  
#sin {  
  margin-top:$screen-height-px;
  } 
  
#prince {
  margin-top:$screen-height-px;
  }
  
#love { 
  margin-top:$screen-height-px;
  }  

#end {  
  margin-top:$screen-height-px;
  }