$screen-height-px: 1024px;
$screen-width-px: 768px;
$page-height-px: $screen-height-px;

$page-color-dark: rgba(235,235,235,1);
$page-color-light: rgba(255,255,255,1);

$page-divider: $page-color-dark;

$button-color: rgba(36,148,209,1);
$button-text-color: rgba(36,148,209,1);

$red: rgba(228,58,0,0.8);
$blue: rgba(36,148,209,1);

$factoid-color: $red;

$story-color:  rgba(0,0,0,0.75);
$text-color: rgba(0,0,0,1);

$sans-type: "Helvetica Neue", Helvetica, Arial, serif;
$serif-type: "Arnhem", Georgia, serif;

$border-radius: 4px;
