@import "fixed-positioning";
@import "pages";
@import "type";

$screen_height_notpx: 1024;
$page_height_notpx: $screen_height_notpx;

$progress_section_begin: 0;
$progress_section_duration: 400;
$progress_section_end: $progress_section_begin + $progress_section_duration;

$one_before:            0;
$one_onscreen:          0;
$one_buffer:            $one_onscreen + 100;
$one_scrollstart:       $one_onscreen + 900;
$one_scrolloff:         $one_scrollstart + $screen_height_notpx;

$two_before:            $one_scrollstart;
$two-onscreen:          $one_scrolloff;
$two_buffer:            $two_onscreen + 100;
$two_scrollstart:       $two_onscreen + 900;
$two_scrolloff:         $two_scrollstart + $screen_height_notpx;

$three_before:          $two_scrollstart;
$three-onscreen:        $two_scrolloff;
$three_buffer:          $three_onscreen + 100;
$three_scrollstart:     $three_onscreen + 900;
$three_scrolloff:       $three_scrollstart + $screen_height_notpx;

$last_before:           $three_scrollstart;
$last-onscreen:         $three_scrolloff;
$last_buffer:           $last_onscreen + 100;
$last_scrollstart:      $last_onscreen + 900;


#progress {
  -skrollr-animation-name:sk-progress;  
  }
    
#cover {
  -skrollr-animation-name:one-scroll; 
  h1 {-skrollr-animation-name:one-bottom-to-top;}    
  }    

#howto {
  -skrollr-animation-name:two-scroll;
  h1 {-skrollr-animation-name:two-bottom-to-top;}   
  }  

#story {}
  
#empty {
  -skrollr-animation-name:three-scroll;  
  h1 {-skrollr-animation-name:three-bottom-to-top;} 
  }  

#pageEnd {  
  -skrollr-animation-name:last-scroll; 
  h1 {-skrollr-animation-name:last-bottom-to-top;}  
  }

  
@-skrollr-keyframes last-bottom-to-top {    
  #{$last_onscreen} {
    color: rgba(0,0,0,1);
    top:500px;}
  #{$last_scrollstart} {
    color: rgba(255,255,255,1);
    top:100px;}
  }
  
@-skrollr-keyframes three-bottom-to-top {  
  #{$three_onscreen} {
    color: rgba(0,0,0,1);
    top:500px;}
  #{$three_scrollstart} {
    color: rgba(255,255,255,1);
    top:100px;}
  }
  
@-skrollr-keyframes two-bottom-to-top {   
  #{$two_onscreen} {
    color: rgba(0,0,0,1);
    top:500px;}
  #{$two_scrollstart} {
    color: rgba(255,255,255,1);
    top:100px;}
  }
  
@-skrollr-keyframes one-bottom-to-top { 
  #{$one_onscreen} {
    color: rgba(0,0,0,1);
    top:500px;}
  #{$one_scrollstart} {
    color: rgba(255,255,255,1);
    top:100px;}
  }
  
@-skrollr-keyframes last-scroll {    
  #{$last_before} {margin-top:1024px}
  #{$last_onscreen} {margin-top:0px;}
  #{$last_scrollstart} {margin-top:0px;}
  }
  
@-skrollr-keyframes three-scroll {    
  #{$three_before} {margin-top:1024px}
  #{$three_onscreen} {margin-top:0px;}
  #{$three_scrollstart} {margin-top:0px;}
  #{$three_scrolloff} {margin-top:-1024px;}
  }
  
@-skrollr-keyframes two-scroll {    
  #{$two_before} {margin-top:1024px;}
  #{$two_onscreen} {margin-top:0px;}
  #{$two_scrollstart} {margin-top:0px;}
  #{$two_scrolloff} {margin-top:-1024px;}
  }
  
@-skrollr-keyframes one-scroll {    
  #{$one_before} {margin-top:1024px;}
  #{$one_onscreen} {margin-top:0px;}
  #{$one_scrollstart} {margin-top:0px;}
  #{$one_scrolloff} {margin-top:-1024px;}
  }
  
@-skrollr-keyframes sk-progress {    
  #{$progress_section_begin} {
    background:blue;}
  #{$progress_section_end} {
    background:pink;}
  }
  
.jumpto {

  0 {bottom:25px}
  100 {bottom:25px}
  
  bottom:25px;
  right:25px;
  background-color: $button-color;
  width: 200px;
  
  a {
    padding: 10px;
    line-height: 15px;
    color: $button-text-color;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none
    }
  
  }
  
  

  