@import "fixed-positioning";
@import "pages";
@import "type";

$scroll_pause: 500;
$padding_buffer: 100;

$screen_height_notpx: 1024;
$page_height_notpx: $screen_height_notpx;

$progress_section_begin: 0;
$progress_section_duration: 400;
$progress_section_end: $progress_section_begin + $progress_section_duration;

/*
$one_before:            0;
$one_onscreen:          0;
$one_buffer:            100;
$one_scrollstart:       500;
$one_scrolloff:         1524;

$two_before:            500;
$two-onscreen:          1524;
$two_buffer:            1624;
$two_scrollstart:       2024;
$two_scrolloff:         3048;

$three_before:          2024;
$three-onscreen:        3048;
$three_buffer:          3148;
$three_scrollstart:     3548;
$three_scrolloff:       4572;

$last_before:           3548;
$last-onscreen:         4572;
$last_buffer:           4672;
$last_scrollstart:      5072;
*/

$one_before:            0;
$one_onscreen:          0;
$one_buffer:            $one_onscreen + $padding_buffer;
$one_scrollstart:       $one_onscreen + $scroll_pause;
$one_scrolloff:         $one_onscreen + $screen_height_notpx;

$two_before:            $one_scrollstart;
$two-onscreen:          $one_scrolloff;
$two_buffer:            $two_onscreen + $padding_buffer;
$two_scrollstart:       $two_onscreen + $scroll_pause;
$two_scrolloff:         $two_onscreen + $screen_height_notpx;

$three_before:          $two_scrollstart;
$three-onscreen:        $two_scrolloff;
$three_buffer:          $three_onscreen + $padding_buffer;
$three_scrollstart:     $three_onscreen + $scroll_pause;
$three_scrolloff:       $three_onscreen + $screen_height_notpx;

$last_before:           $three_scrollstart;
$last-onscreen:         $three_scrolloff;
$last_buffer:           $last_onscreen + $padding_buffer;
$last_scrollstart:      $last_onscreen + $scroll_pause;


#progress {
  -skrollr-animation-name:sk-progress;  
  }
    
#cover {
  -skrollr-animation-name:one-scroll; 
  h1 {-skrollr-animation-name:one-bottom-to-top;}    
  }    

#howto {
  -skrollr-animation-name:two-scroll;
  h1 {-skrollr-animation-name:two-bottom-to-top;}   
  }  

#story {}
  
#empty {
  -skrollr-animation-name:three-scroll;  
  h1 {-skrollr-animation-name:three-bottom-to-top;} 
  }  

#pageEnd {  
  -skrollr-animation-name:last-scroll; 
  h1 {-skrollr-animation-name:last-bottom-to-top;}  
  }

  
@-skrollr-keyframes last-bottom-to-top {    
  #{$last_onscreen} {color: rgba(0,0,0,1);}
  #{$last_scrollstart} {color: rgba(255,255,255,1);}
  }
  
@-skrollr-keyframes three-bottom-to-top {  
  #{$three_onscreen} {color: rgba(0,0,0,1);}
  #{$three_scrollstart} {color: rgba(255,255,255,1);}
  }
  
@-skrollr-keyframes two-bottom-to-top {   
  #{$two_onscreen} {color: rgba(0,0,0,1);}
  #{$two_scrollstart} {color: rgba(255,255,255,1);}
  }
  
@-skrollr-keyframes one-bottom-to-top { 
  #{$one_onscreen} {color: rgba(0,0,0,1);}
  #{$one_scrollstart} {color: rgba(255,255,255,1);}
  }
  
@-skrollr-keyframes last-scroll {    
  #{$last_before} {margin-top:1024px}
  #{$last_onscreen} {margin-top:0px;}
  #{$last_scrollstart} {margin-top:0px;}
  }
  
@-skrollr-keyframes three-scroll {    
  #{$three_before} {margin-top:1024px}
  #{$three_onscreen} {margin-top:0px;}
  #{$three_scrollstart} {margin-top:0px;}
  #{$three_scrolloff} {margin-top:-1024px;}
  }
  
@-skrollr-keyframes two-scroll {    
  #{$two_before} {margin-top:1024px;}
  #{$two_onscreen} {margin-top:0px;}
  #{$two_scrollstart} {margin-top:0px;}
  #{$two_scrolloff} {margin-top:-1024px;}
  }
  
@-skrollr-keyframes one-scroll {    
  #{$one_before} {margin-top:1024px;}
  #{$one_onscreen} {margin-top:0px;}
  #{$one_scrollstart} {margin-top:0px;}
  #{$one_scrolloff} {margin-top:-1024px;}
  }
  
  @-skrollr-keyframes sk-progress {    
  #{$progress_section_begin} {
    background:blue;}
  #{$progress_section_end} {
    background:pink;}
  }
  
  

  