@import "variables";
@import "fixed-positioning";
@import "elements";
@import "layout";
@import "type";

/*
$progress_section_begin: 0;
$progress_section_duration: 2000;
$progress_section_end: $progress_section_begin + $progress_section_duration;

@-skrollr-keyframes animation1 {
    
    #{$progress_section_begin} {
        left:100%;
        opacity#{"[swing]"}: 0.0;
    }

    #{$progress_section_end} {
        left:0%;
        opacity: 1.0;
    }
}
*/


#progress {
  -skrollr-animation-name: sk-progress;  
  }
  
  @-skrollr-keyframes sk-progress {
    start { width:0%;background:hsl(200, 100%, 50%);}
    end { width:100%;background:hsl(920, 100%, 50%);}
    }

	
#cover {

  }

#story {

  
  }  

#howto {

      
  }
  
#empty {
   
  }


#pageEnd {

  }