$page-color-dark: rgba(0,0,0,0.025);
$page-color-light: rgba(255,255,255,1);

$button-color: rgba(36,148,209,1);
$factoid-color: rgba(231,41,0,0.75);

$story-color:  rgba(0,0,0,0.75);

$sans-type: "Helvetica Neue", Helvetica, Arial, serif;
$serif-type: "Arnhem", Georgia, serif;

/***********************************************************************************************************/
/*** Begin Skrollr Fixed Positition Styles  ****************************************************************/
/***********************************************************************************************************/


html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

.skrollable {
	/*
	 * First-level skrollables are positioned relative to window
	 */
	position:fixed;

	/*
	 * Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable
	 */
	z-index:100;
}

.skrollr-mobile .skrollable {
	/*
		May cause issues on Android default browser (see #331 on GitHub).
	*/
	position:absolute;
}

.skrollable .skrollable {
	/*
	 * Second-level skrollables are positioned relative their parent skrollable
	 */
	position:absolute;
}

.skrollable .skrollable .skrollable {
	/*
	 * Third-level (and below) skrollables are positioned static
	 */
	position:static;
}

/*** End Skrollr Fixed Positition Styles ************************************/


html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  }

html, body {
  background-color: #000;
  }
  
body {  
  width:768px;
  height: 1024px;
  background-color: #fff;
  }

.page {
  width:768px;
	height:1024px;
	top:0px;
	
  h1 {
    top:100px;
    padding:50px;
  	-webkit-transform-origin:0 0;
  	-moz-transform-origin:0 0;
  	-ms-transform-origin:0 0;
  	-o-transform-origin:0 0;
  	transform-origin:0 0;
  	}
  	
  h2 {
    padding:50px;
  	-webkit-transform-origin:0 0;
  	-moz-transform-origin:0 0;
  	-ms-transform-origin:0 0;
  	-o-transform-origin:0 0;
  	transform-origin:0 0;
  	}	  	
	}
	
  
.button .closed {
  background-color: $button-color;
  width:33.333%;
  height:90px;
  left:33.333%;
  top:450px;
  }  

.svg-draw {
  fill:none;
  stroke-width:7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:6000;
  stroke-dashoffset:0;      
  }
  
.factoid {
  background-color: $factoid-color;
  padding:15px;  
  p {
    padding:0;
    margin:0;
    font-family: $sans-type;
    }  
  }
  
.hidden {
  p {display: none;}
  }
  
.revealed {
  p {display: block;}
  }
      
.cutout {
  position:relative;
  top:0px;  
  }

.back {z-index:1 !important;}
.middle {z-index:25 !important;}
.front {z-index:50 !important;}


#progress {
  /*width: 6px;
	height:1024px;
  right:0;*/
  width:768px;
  height:6px;
  top:0;
	background:#444;
	z-index:200;
  }

	
#cover {
  background-color: $page-color-dark;
  
  }

#story {
  width:334px;
  margin:50px;
  position: relative;
  top:2000px;
  z-index: 1000;
  
  p {color:$story-color;}
  
  }  

#howto {
	top:500px;
  background-color: $page-color-light;
  
  .factoid {
    width: 300px;
    position: absolute;
    top:400px;
    right:0;  
    }
      
  }
  
#empty {;
  top:1000px;
  background-color: $page-color-dark;    
  }


#pageEnd {
  width:768px;
	height:1024px;
	top:1024px;
  background-color: $page-color-dark;  
  }
  
  
/***********************************************************************************************************/
/*** Begin Type Styles  ************************************************************************************/
/***********************************************************************************************************/



html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
  }


html, body {
	line-height: 1;
	font-family:$sans-type;
  text-align: left;
  }


ol, ul {
	list-style: none;
  }

  
.button .closed p {
  text-align: center;
  margin:30px;
	color:white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  }
  
p {
  font-family: $serif-type;
  color:black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 24px;
  }
  

q {
	font-style:italic;
	color:#333;
  }

h1 {
	font-size:6em;
	margin:0;
  }

h1 > small {
	text-align:right;
	display:inline-block;
	font-size:.71em;
	text-indent:15em;
	color:#444;
  }

h2 {
	color:inherit;
	font-size:4em;
	margin:2em 0 1em 0;
  }

h2:first-child {margin-top:0;}

h3 {
	color:#333;
	font-size:1.41em;
	margin:1em 0;
  }

h4 {
	color:#444;
	font-size:1.11em;
	margin:1em 0;
  }

#transform {
	text-align:center;
	font-size:150%;
  }

#properties {
	text-align:center;
  }

.drop {
	font-weight:bold;
  }

/*** End Type Styles ********************************************************/





#progress {
    -skrollr-animation-name:sk-progress;  
    }
  
  @-skrollr-keyframes sk-progress {
    0 { width:0%;background:hsl(200, 100%, 50%);}
    500 { width:100%;background:hsl(920, 100%, 50%);}
    }

	
#cover {

  }

#story {

  
  }  

#howto {

      
  }
  
#empty {
   
  }


#pageEnd {

  }